* {
  margin: 0;
  padding: 0;
}

/* Header Section */
.top-bg {
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}
.row.top {
  padding: 20px 0px;
}

.two a {
  text-decoration: none !important;
  color: white;
  display: inline-block;
}
.two i {
  display: inline-block;
}

/* Banner Section */
.banner {
  width: 100%;
  text-align: center;
  padding-top: 130px;
}
.banner h1 {
  color: white;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-size: 70px;
  font-weight: 800;
}
.banner h1 span {
  color: #f7600e;
}
.banner p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  margin-top: 25px;
  margin-bottom: 65px;
}
.banner button {
  width: 200px;
  height: 50px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 120px;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
}
.btn-1 {
  background-color: #f7600e;
  border: none;
  margin-right: 8px;
  transition: 0.4s ease-in-out;
}
.btn-2 {
  background-color: transparent;
  border: 1px solid white;
  margin-left: 8px;
  transition: 0.4s ease-in-out;
}
.btn-1:hover {
  background-color: #c94702;
  cursor: pointer;
  transform: scale(1.05);
}
.btn-2:hover {
  background-color: white;
  color: black;
  cursor: pointer;
  transform: scale(1.05);
}
.banner i {
  display: block;
  color: white;
  font-size: 30px;
  padding-bottom: 20px;
  transition: 0.3s ease-in-out;
}
.banner i:hover {
  transform: scale(1.05);
  opacity: 0.7;
  cursor: pointer;
}

/* Service Section */
.service {
  padding: 80px 0px;
}
.service-box {
  display: inline-block;
  text-align: center;
  width: 20%;
  padding: 20px;
}
.service-box h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin: 20px 0px;
}
.service-box p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.service-icon {
  text-align: center;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  border: grey 1px solid;
  position: relative;
  margin: 0 auto;
}
.printer {
  position: absolute;
  top: 30%;
  right: 30%;
}
.tv {
  position: absolute;
  top: 35%;
  right: 30%;
}
.phone {
  position: absolute;
  top: 30%;
  right: 37%;
}
.pencil {
  position: absolute;
  top: 31%;
  right: 35.5%;
}
.newsletter {
  width: 100%;
  background-image: url(../img/banner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px 0px;
}
.newsletter input {
  padding: 16px;

  width: 500px;
  border: none;
  border-radius: 10px;
  outline: none;
}
.newsletter input::placeholder {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}
.subscribe-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: white;
  border: none;
  padding: 14px;
  width: 270px;
  background-color: #f7600e;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  text-transform: uppercase;
}
.subscribe-btn:hover {
  font-weight: 600;
  background-color: #c94702;
  cursor: pointer;
  transform: scale(1.05);
}

/* Portfolio Section */
.portfolio {
  text-align: center;
}
.portfolio-text {
  padding: 100px 0px;
  font-family: "Open Sans", sans-serif;
  color: #3b434c;
}
.portfolio-text h1 {
  font-size: 35px;
  text-transform: uppercase;
  margin-bottom: 28px;
}
.portfolio-text h1 span {
  color: #f7600e;
}
.gallery-img-container {
  margin: 15px 0px;
}
.img-box img {
  position: relative;
  height: 100%;
  width: 100%;
}
.overlay-container {
  height: 100%;
  width: 100%;
  padding: 0px 15px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
}
.hover-overlay {
  background-color: #f7600ebd;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.4s ease-in-out;
  border-radius: 3%;
}
.hover-overlay h2 {
  font-family: "Open Sans", sans-serif;
  color: white;
  padding-top: 50px;
}
.hover-overlay p {
  font-family: "Open Sans", sans-serif;
  color: white;
  padding: 30px 15px;
}
.hover-overlay button {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  color: #f7600e;
  border: 2px solid white;
  border-radius: 15px;
  padding: 15px 30px;
  transition: 0.4s ease-in-out;
}
.hover-overlay:hover {
  opacity: 1;
}
.hover-overlay button:hover {
  transform: scale(1.05);
}
.gallery-last-btn {
  text-align: center;
  margin: 60px auto 100px;
}
.show-btn {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  color: #3b434c;
  border: 1px solid #3b434c;
  padding: 20px 50px;
  border-radius: 10px;
  background-color: transparent;
  transition: 0.6s ease-in-out;
}
.show-btn:hover {
  color: white;
  background-color: #3b434c;
  cursor: pointer;
}

/* Tesimonial Section */
.testimonial {
  text-align: center;
  background-image: url(../img/personbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  position: relative;
  text-align: center;
}

.testimonial img {
  margin-top: 95px;
  margin-bottom: 40px;
}
.testimony-text-container {
  width: 70%;
  margin: 0 auto;
}
.testimonial p {
  font-style: italic;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 40px;
}
.testimonial h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 500;
  padding-bottom: 95px;
}
.fa.fa-chevron-left {
  position: absolute;
  color: grey;
  font-size: 30px;
  left: 10%;
  top: 50%;
  font-weight: 100;
  transition: 0.4s ease-in-out;
}
.fa.fa-chevron-right {
  position: absolute;
  color: grey;
  font-size: 30px;
  right: 10%;
  top: 50%;
  font-weight: 100;
  transition: 0.4s ease-in-out;
}

.fa.fa-chevron-left:hover {
  transform: scale(1.3);
  color: rgb(150, 149, 149);
  cursor: pointer;
}
.fa.fa-chevron-right:hover {
  transform: scale(1.3);
  color: rgb(150, 149, 149);
  cursor: pointer;
}

.team {
  background: white;

  text-align: center;
  padding-top: 100px;
}
.team h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  font-weight: 600;
  margin-bottom: 20px;
}
.team span {
  color: #f7600e;
}
.team p {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-bottom: 80px;
}
.team-box {
  height: 100%;
  width: 100%;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  color: #9da1a5;
  margin: 0px 8px;
  padding: 0px 3px;
  width: 22%;
  transition: 0.4s ease-in-out;
}
.team-box img {
  height: 100%;
  width: 100%;
  filter: grayscale(100%);
  transition: 0.4s ease-in-out;
}
.team-box h2 {
  margin: 15px 0px;
}
.icon-box {
  position: relative;
  display: inline-block;
  height: 24px;
  width: 24px;
  background-color: #9da1a5;
  border-radius: 50%;
  color: white;
  font-size: 14px;
  margin: 0px 5px;
  transition: 0.4s ease-in-out;
}
.fa.fa-facebook {
  position: absolute;
  top: 25%;
  right: 35%;
}
.fa.fa-twitter {
  position: absolute;
  top: 22%;
  right: 20%;
}
.fa.fa-google-plus {
  position: absolute;
  top: 22%;
  right: 6%;
}
.fa.fa-dribbble {
  position: absolute;
  top: 22%;
  right: 23%;
}
.fa.fa-behance {
  position: absolute;
  top: 22%;
  right: 13%;
}
.team-box p {
  margin-top: 20px;
}
.team-box:hover {
  color: #3b434c;
}
.team-box:hover img {
  filter: grayscale(0%);
  transform: scale(1.1);
  cursor: pointer;
}
.team-box:hover .fb {
  background-color: #205b9f;
  cursor: pointer;
  transform: scale(1.1);
}
.team-box:hover .tw {
  background-color: #00ace3;
  cursor: pointer;
  transform: scale(1.1);
}
.team-box:hover .gp {
  background-color: #ff3921;
  cursor: pointer;
  transform: scale(1.1);
}
.icon-box.fb:hover {
  transform: scale(1.3);
}
.icon-box.tw:hover {
  transform: scale(1.3);
}
.icon-box.gp:hover {
  transform: scale(1.3);
}

.selection-dots {
  margin-bottom: 60px;
  text-align: center;
}
.dot {
  display: inline-block;
  margin: 0px 7px;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #9da1a5;
  transition: 0.4s ease-in-out;
}
#team1:hover ~ .selection-dots > #first-dot {
  background-color: #c94702;
  transform: scale(1.2);
}
#team2:hover ~ .selection-dots > #second-dot {
  background-color: #c94702;
  transform: scale(1.2);
}
#team3:hover ~ .selection-dots > #third-dot {
  background-color: #c94702;
  transform: scale(1.2);
}
#team4:hover ~ .selection-dots > #fourth-dot {
  background-color: #c94702;
  transform: scale(1.2);
}

/* Contact-Section */
.contact {
  background-image: url(../img/contactbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  padding: 100px 0px;
}
.contact h1 {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  text-transform: uppercase;
}
.contact h1 span {
  color: #f7600e;
}
.contact p {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  margin-top: 20px;
}
.contact-form {
  margin: 0 auto;
  margin-top: 40px;
  text-align: center;
  padding: 0px 140px;
}

.form-control {
  display: inline-block;
  padding: 12px 18px;
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 20px;
}
.form-control::placeholder {
  font-family: "Open Sans", sans-serif;
  color: #3b434c;
}

.contact-form textarea {
  display: block;
  border-radius: 10px;
  padding: 12px 18px;
  border: none;
  outline: none;
}
.contact-form textarea::placeholder {
  font-family: "Open Sans", sans-serif;
  color: #3b434c;
}
.contact-footer {
  margin-top: 30px;
}
.contact button {
  padding: 15px 34px;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  border: none;
  background-color: #f7600e;
}
.contact button:hover {
  cursor: pointer;
  font-weight: 600;
  background-color: #c94702;
  transform: scale(1.02);
}
.contact-icons {
  text-align: right;
  padding-left: 0;
}
.contact-icon-box {
  position: relative;
  display: inline-block;
  height: 34px;
  width: 34px;
  background-color: #9da1a5;
  border-radius: 50%;
  color: white;
  font-size: 18px;
  margin: 0px 5px;
  transition: 0.4s ease-in-out;
}
.contact-icon-box.fb {
  background-color: #205b9f;
}
.contact-icon-box.tw {
  background-color: #00ace3;
  font-size: 20px;
}
.contact-icon-box.gp {
  background-color: #ff3921;
}
.contact-icon-box.db {
  background-color: #f66fa0;
  font-size: 20px;
}
.contact-icon-box.be {
  background-color: #009bd5;
}
.contact-icon-box:hover {
  cursor: pointer;
  transform: scale(1.1);
}
/* Foooter Section */
footer {
  background-color: #3b434c;
  color: white;
  font-family: "Open Sans", sans-serif;
  padding: 30px 0px;
}
footer p {
  display: inline-block;
}

/* Media Queries */
/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .banner {
    padding-top: 60px;
  }
  .banner h1 {
    font-size: 54px;
  }
  .hover-overlay {
    padding: 5px;
  }
  .hover-overlay h2 {
    padding-top: 52px;
    font-size: 40px;
  }
  .hover-overlay p {
    padding: 30px 10px;
  }
  .hover-overlay button {
    border-radius: 15px;
    padding: 15px 30px;
  }
  .testimonial p {
    font-size: 16px;
  }
  .testimonial h5 {
    font-size: 18px;
  }
  .team-box h2 {
    font-size: 10px;
  }
  .team-box p {
    font-size: 10px;
  }
  .icon-box {
    height: 16px;
    width: 16px;
    font-size: 10px;
    margin: 0px 3px;
  }
  .contact-icons {
    text-align: center;
  }
  .contact-icon-box {
    height: 26px;
    width: 26px;
    font-size: 14px !important;
    margin-top: 20px;
  }
  .contact-form {
    padding: 0px 35px;
  }
  footer {
    text-align: center;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
  .hover-overlay {
    padding: 5px;
  }
  .hover-overlay h2 {
    padding-top: 25px;
    font-size: 24px;
  }
  .hover-overlay p {
    font-size: 14px;
    padding: 10px 10px;
  }
  .hover-overlay button {
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 14px;
  }
  .testimonial p {
    font-size: 18px;
  }
  .team-box h2 {
    font-size: 16px;
  }
  .contact-form {
    padding: 0px 60px;
  }
  .contact-icon-box {
    margin-top: 20px;
    height: 28px;
    width: 28px;
    font-size: 16px !important;
  }
  .contact-icons {
    text-align: center;
  }
  footer {
    text-align: center;
  }
}
/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
  .hover-overlay {
    padding: 5px;
  }
  .hover-overlay h2 {
    padding-top: 25px;
    font-size: 22px;
  }
  .hover-overlay p {
    font-size: 12px;
    padding: 10px 10px;
  }
  .hover-overlay button {
    border-radius: 15px;
    padding: 10px 20px;
    font-size: 14px;
  }
  .testimonial p {
    font-size: 20px;
  }
  .team-box h2 {
    font-size: 22px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
  .hover-overlay h2 {
    padding-top: 40px;
  }
  .hover-overlay p {
    padding: 20px 10px;
  }
  .hover-overlay button {
    border-radius: 15px;
    padding: 15px 30px;
  }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}
